body {
  font-family: monospace;
}

.good {
  background-color: lightgreen;
}

.bad {
  background-color: lightpink;
}

#warnings {
  color: red;
}

.btn {
  margin: 20px 0px;
}

.collapsible {
  background-color: white;
  cursor: pointer;
  padding: 10px 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: normal;
}

.active, .collapsible:hover {
  font-weight: bold;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.filters {
  width: 45%;
  display: inline-block;
}

.filter-container {
  display: flex;
}

#benchmarkCheckboxes {
  max-height: 175px;
  overflow: scroll;
}

#speedup-formula {
  visibility: hidden;
}

.cfg {
  max-height: 600px;
  display: block;
}

.expanded {
  display: block;
}

.collapsed {
  display: none;
}