body {
  font-family: monospace;
}

.good {
  background-color: lightgreen;
}

.bad {
  background-color: lightpink;
}

#warnings {
  color: red;
}

.btn {
  margin: 20px 0px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 10px 0px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.filters {
  width: 45%;
  display: inline-block;
}

.filter-container {
  display: flex;
}

#benchmarkCheckboxes {
  max-height: 175px;
  overflow: scroll;
}